* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url("../img/background.png");
    background-size: cover;
    font-family: "Lato","sans-serif";
}


.container {
    text-align: center;
    margin: auto;
    color: white;
    padding: 139px;
    width: 60%;
}
.container .logo {
    width: 80px;
    padding-block: 0 18px;
}
.container h1 {
    font-size: 45px;
}

.container h2 {
    font-size: 30px;
    padding-block: 0 40px;
    
}

.container h3 {
    display: block;
    padding-block: 0 17px;
}
.container h2 span:first-child {
    text-transform: capitalize;
}

.form .nome, .email,.textcheckbox,.botao{
    min-width: 100%;

}

.form .nome, .email,.botao {
    padding: 10px;
    border-radius: 7px;
}

.form .nome {

    margin-block: 0 4px;
}

.form .email {
    margin-block: 0 20px;
}

.textcheckbox {
    font-size: 13px;

}
.botao {
    font-size: 20px;
    margin: 20px 0;
    color: white;
    background-color: #007CFA;
    border: none
}

.botao:hover {
    background-color: #006cfa;
}
.botao a {
    display: block;
    color: white;
    font-family: "Roboto","sans-serif";
}