body {
    background: url(https://img.freepik.com/fotos-gratis/fundo-de-pintura-grunge_1409-1337.jpg?w=2000);
}
.teste {
    width: 150px;
    height: 150px;
    display: block; /* Mudando para display in block para que eu consiga setar a largura e a altura. Antes ele era um display in line */
    display: inline-block; /* Já se eu mudo para display inline-block, percebo que ele tem uma característica de ser uma caixa, mas que permite que um elemento ao lado seja disposto*/
}

ul {
    background-color: grey;
    padding: 20px;
    /* display: none; */ /* Com display None, eu oculto um pedaço do código, mas qualquer coisa que venha em seguida a ele, tomará o seu espaço geográfico na tela. */
    visibility: hidden; /* Já com visibility setado para hidden, o elemento é ocultado mas o seu espaço geográfico fica preservado/reservado */
}

ul li {
    display: inline;
    margin: 20px;
    
} /* Fazendo com que uma lista deixe de se comporta como um bloco e passe a se comportar como inline */

h1 {
    display: block;
    background-color: grey;
    opacity: 0.5;
}