.exemplo {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}
.exemplo1 p.red {
    color: red;
}

.margin {
    margin: 50px;
}
h1, h2, h3 {
    color: blue;
}

.exemplo2 > p {  /* Símbolo de > indica que ele vai aplicar somente nas tags filhas da classe. As tags "netas", como no caso das section, serao ignoradas */
    color: green;
}

.exemplo3 + p {
    color: red; /* O + seleciona e aplica uma característica à PRIMEIRA TAG irmã */

}
.exemplo4 ~p {
    color: blue;
}
